body {
	font-family: roboto;
}

.pokedexTitle {
	display: flex;
	justify-content: center;

	.title {
		max-width: 30%;
	}
}

.pokedex {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 80px auto 100px;
}

.pokemonCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	border: solid;
	margin: 20px 20px;
	width: 20%;
	padding: 20px;
	text-align: center;

	.pokeID {
		font-size: 2rem;
		width: 95%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background-color: #ffcc00;
		margin-bottom: 10px;
		padding-left: 5%;
		border-radius: 10px;
	}

	.photo {
		width: 100%;
		max-height: 250px;
		margin-bottom: 10px;
	}

	.pokeName {
		text-transform: capitalize;
		width: 100%;
		margin-bottom: 10px;
	}

	.pokeTypeContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.8rem;
	}

	.pokeSize {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		font-weight: bold;
		width: 100%;
		margin-bottom: 10px;
		font-size: 1rem;
	}
}
