* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  font-family: roboto;
}

.pokedexTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokedexTitle .title {
  max-width: 30%;
}

.searchPokemonContainer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px;
}

.searchPokemonContainer #search-input {
  width: 500px;
  height: 30px;
  border-radius: 20px;
  padding: 10px;
}

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.types_selector {
  padding: 5px;
  margin: 5px;
  width: 100px;
  border: 2px solid black;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  background-color: #ffcc00;
}

.pokedex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 30px;
}

.pokemonCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  border: solid;
  margin: 20px 20px;
  width: 20%;
  padding: 20px;
  text-align: center;
}

.pokemonCard .pokeID {
  font-size: 2rem;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffcc00;
  margin-bottom: 10px;
  padding-left: 5%;
  border-radius: 10px;
}

.pokemonCard .photo {
  width: 200px;
  height: 250px;
  max-height: 250px;
  margin-bottom: 10px;
}

.pokemonCard .pokeName {
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 10px;
}

.pokemonCard .pokeTypeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.pokemonCard .pokeSize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */